.paginationContainer {
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 20px;

  > .paginationPage {
    width: 42px;
    height: 42px;
    background-color: #00244d;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    // font-family: Gotham;
    color: #ffffff;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &:hover {
      cursor: pointer;
      background-color: #014898;
    }

    &.active {
      background-color: #fcc530;
    }
  }

  > .paginationIcon {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    width: 42px;

    > svg {
      width: 15px;
      height: 24px;
      color: #001834;
    }

    &button {
      &:hover {
        cursor: pointer;
        color: #014898;
      }
    }

    &:disabled {
      opacity: 0.3;
      cursor: default;
    }
  }
}
