.form_container {
  display: flex;
  position: relative;
  padding: 0 $m-size $m-size;
  background-color: $light-blue;

  span {
    position: absolute;
    bottom: 100%;
    color: $red;
    font-weight: bold;
  }

  input {
    padding: $sm-size $m-size;
    flex: 1;
    font-size: $m-size;
    outline: none;
    background-color: $dark-blue;
    border: 1px solid $off-black;
    border-radius: 0.5rem 0 0 0.5rem;
    box-shadow: 0 2px darken($color: $dark-blue, $amount: 10);

    &.error {
      border-color: $red;
      box-shadow: 0 2px darken($color: $red, $amount: 10);
      background-color: darkgoldenrod;
    }
  }

  button {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}
