.link_container {
  color: $off-white;
  padding-left: $sm-size;

  &:hover {
    font-weight: bold;
  }

  &.active {
    font-weight: bold;
    border-bottom: 1px solid $off-white;
    padding-left: $sm-size;
  }
}
