.link_container {
  color: blue;
  padding-left: $sm-size;

  &:hover {
    font-weight: bold;
  }

  &.active {
    font-weight: bold;
    border-bottom: 1px solid blue;
    padding-left: $sm-size;
  }
}
