.loadingContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
}

.loadingIcon {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;

  @keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0);
    }
  }
}
