.modal_container {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;

  .content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 37.5rem;
  }
}

.modal_panel {
  position: fixed;
  inset: 0;
  opacity: 0;
  background-color: #ffffff;
  border-radius: $sm-size;
  outline: 0;
  transition: 300ms ease-in-out;
  display: flex;

  &.active {
    inset: 6rem;
    opacity: 1;
  }

  .close {
    position: absolute;
    right: $sm-size;
    top: $sm-size;

    .icon {
      font-size: $l-size;
      color: gray;
      cursor: pointer;
      border-radius: $sm-size;

      &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        color: black;
      }
    }
  }
}
