.sidebar_container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: $sm-size;
  background-color: red;
  height: 100vh;
  width: 9.375rem;
  left: -9.375rem;
  z-index: 1;
  transition: 400ms;

  &::before {
    content: '';
    position: absolute;
    background-color: blue;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
    padding: $m-size;
    border-radius: 0 $sm-size $sm-size 0;
    left: 100%;
    top: $m-size;
  }

  &:hover {
    left: 0;
  }
}
