.expenseList {
  display: flex;
  flex-direction: column;
  gap: $sm-size;
  padding: 0 $m-size;
  overflow: auto;
}

.expenseContainer {
  display: flex;
  flex-direction: column;
  gap: $sm-size;
  padding: $sm-size $m-size;
  background-color: $grey;
  border-radius: $sm-size;
}
