.form_container {
  display: flex;
  position: relative;

  span {
    position: absolute;
    bottom: 100%;
    opacity: 0.5;
    color: $off-red;
  }

  input {
    padding: $sm-size $m-size;
    flex: 1;
    font-size: $m-size;
    border: 1px solid black;
    outline: none;

    &.error {
      border-color: $off-red;
    }
  }

  button {
    padding: $sm-size $m-size;
    font-size: $m-size;
  }
}
