.header_container {
  background-color: #20222b;
  color: #ffffff;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;

  h1 {
    font-size: 2rem;
    margin: 0 auto;
  }

  span {
    color: #a5afd7;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 auto;
  }
}
