.optionItemContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: $sm-size;
  max-width: 25rem;
  margin: 0 auto;
  border-bottom: 1px solid lighten($color: $light-blue, $amount: 10);

  &.active {
    color: blue;
  }

  .icon {
    animation: rotating 1s linear infinite;
  }

  @keyframes rotating {
    to {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }
}
