.optionItemContainer {
  padding: $sm-size;
  background-color: #d6d6d6;
  border-radius: $sm-size;
  max-width: 25rem;

  &.active {
    color: blue;
    background-color: #b3b3b3;
  }

  .icon {
    animation: rotating 1s linear infinite;
  }

  @keyframes rotating {
    to {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }
}
